a.logo-image {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  padding: 3px 14px;
  font-weight: bold;
  border: #007bff solid 2px;
  margin-right: 10px;
  border-radius: 8px;
  }
  
  div.nav-content span {
    font-weight: bold;
    color: #999999;
  }
  
  div.nav-bar {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    box-shadow: 0 9px 13px 0 rgba(0,0,0,.1);
    background: #fff;
  }
  div.nav-content {
    margin: 0 auto;
    padding-left: 2%;
    padding-right: 2%;
    max-width: 1185px;
    height: 70px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
  }