img {
    height: 46px;
    padding-right: 15px;
  }
  
  div.nav-content span {
    font-weight: bold;
    color: #999999;
  }
  
  div.nav-bar {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    box-shadow: 0 9px 13px 0 rgba(0,0,0,.1);
    background: #fff;
  }
  div.nav-content {
    margin: 0 auto;
    padding-left: 2%;
    padding-right: 2%;
    max-width: 1185px;
    height: 70px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
  }
  a.forgot-password {
    width: 100%;
    float: left;
    text-align: right;
    padding-bottom: 35px;
  }