footer {
    min-height: 50px;
    background: linear-gradient(45deg, #0057B8 0%, #017AD0 100%);
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  footer h6 {
    font-size: 11px;
    color: #fff;
    margin-top: 17px;
    text-align: center;
  }