footer {
    min-height: 50px;
    background: #3a3939;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  footer h6 {
    font-size: 11px;
    color: #fff;
    margin-top: 17px;
    text-align: center;
  }