 a.forgot-password:hover {
    text-decoration: none;
  }
  .form_bg {
    background-color:#ffffff;
    color:#666;
    padding:20px;
    border-radius:10px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 350px;
    height: 380px;
    z-index: 20;
    box-shadow: 0 0px 16px 0px rgba(0, 0, 0, 1);
  }
  
  .align-center {
    text-align:center;
  }
  h4.text-center {
    padding-bottom: 20px;
  }

  a.forgot-password {
    width: 100%;
    float: left;
    text-align: right;
    padding-bottom: 35px;
  }