div.forgotPass-container{
    width:100%; 
    padding:100px 20px 20px 20px; 
    float:left;
    font-size: 0.8em;
}
div.forgotPassTitle {
    width:100%; 
    padding:8px 0; 
    border-top:#cccccc solid 1px; 
    border-bottom:#cccccc solid 1px;
    font-size: 1.6em;
}
div.forgotPassTitle span {
    font-weight: bold;
    color: #555555
}

div form label,
div form input[type="email"]  {
    margin-right: 15px ;
}

div.forgotPass-container p {
    margin-top: 10px;
}

div.forgotPass-container p strong {
    color: #555555;
}