<div class="forgotPass-container">
    <div class="forgotPassTitle">
        <span>{{ 'demo.forgot' | translate }}</span>
    </div>
    <P>{{ 'demo.emailreq' | translate }}</P>
    <form class="form-inline" [formGroup]="emailForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">{{ 'demo.emailreqlabel' | translate }}</label>
          <input type="email" 
          formControlName="email" 
          class="form-control" 
          id="email" 
          placeholder="{{'demo.enteremail' | translate }}"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
        </div>
        <button type="submit" class="btn btn-primary">{{ 'demo.resetbtn' | translate }}</button>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">{{ 'demo.emailReqalert' | translate }}</div>
            <div *ngIf="f.email.errors.email">{{ 'demo.emailnotvalid' | translate }}</div>
        </div>
      </form>
      <P>{{'demo.tempepass' | translate }}</P>
      <p><strong>{{ 'demo.pleasenote' | translate }}</strong> {{ 'demo.pleasenoteintro' | translate }}</p>
      <p><strong>{{ 'demo.help' | translate }}</strong> {{'demo.helpnote' | translate }}</p>
      <p>{{'demo.country' | translate }} <a href="{{'demo.countryemail' | translate}}"> {{'demo.countryemaillabel' | translate}}</a></p>
</div>
